<?xml version="1.0"?>
<!-- crazyflie2: body mesh from RotorS (ethz-asl/rotors_simulator) -->
<robot name="crazyflie2">
  <link name="base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://drones/meshes/crazyflie2.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://drones/meshes/crazyflie2.dae" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
