<?xml version="1.0"?>
<!-- firefly: body + rotors from RotorS (arm lengths per-drone matching rotors_description xacro) -->
<robot name="firefly">
  <link name="base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://drones/meshes/firefly.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://drones/meshes/firefly.dae" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <link name="rotor_0_front_left">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://drones/meshes/propeller_ccw.dae" scale="0.1 0.1 0.1"/>
      </geometry>
    </visual>
  </link>
  <joint name="rotor_0_front_left_joint" type="continuous">
    <parent link="base_link"/>
    <child link="rotor_0_front_left"/>
    <origin rpy="0 0 0" xyz="0.18619546181365432 0.10749999999999998 0.037"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="rotor_1_left">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://drones/meshes/propeller_cw.dae" scale="0.1 0.1 0.1"/>
      </geometry>
    </visual>
  </link>
  <joint name="rotor_1_left_joint" type="continuous">
    <parent link="base_link"/>
    <child link="rotor_1_left"/>
    <origin rpy="0 0 0" xyz="0.0 0.215 0.037"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="rotor_2_back_left">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://drones/meshes/propeller_ccw.dae" scale="0.1 0.1 0.1"/>
      </geometry>
    </visual>
  </link>
  <joint name="rotor_2_back_left_joint" type="continuous">
    <parent link="base_link"/>
    <child link="rotor_2_back_left"/>
    <origin rpy="0 0 0" xyz="-0.18619546181365432 0.10749999999999998 0.037"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="rotor_3_back_right">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://drones/meshes/propeller_cw.dae" scale="0.1 0.1 0.1"/>
      </geometry>
    </visual>
  </link>
  <joint name="rotor_3_back_right_joint" type="continuous">
    <parent link="base_link"/>
    <child link="rotor_3_back_right"/>
    <origin rpy="0 0 0" xyz="-0.18619546181365432 -0.10749999999999998 0.037"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="rotor_4_right">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://drones/meshes/propeller_ccw.dae" scale="0.1 0.1 0.1"/>
      </geometry>
    </visual>
  </link>
  <joint name="rotor_4_right_joint" type="continuous">
    <parent link="base_link"/>
    <child link="rotor_4_right"/>
    <origin rpy="0 0 0" xyz="0.0 -0.215 0.037"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="rotor_5_front_right">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://drones/meshes/propeller_cw.dae" scale="0.1 0.1 0.1"/>
      </geometry>
    </visual>
  </link>
  <joint name="rotor_5_front_right_joint" type="continuous">
    <parent link="base_link"/>
    <child link="rotor_5_front_right"/>
    <origin rpy="0 0 0" xyz="0.18619546181365432 -0.10749999999999998 0.037"/>
    <axis xyz="0 0 1"/>
  </joint>
</robot>
