<?xml version="1.0"?>
<!-- neo11: body + 6 rotors (hexacopter) per rotors_description xacro -->
<robot name="neo11">
  <link name="base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://drones/meshes/neo11.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://drones/meshes/neo11.dae" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <link name="rotor_0_front_left">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://drones/meshes/neo11_propeller_ccw.dae" scale="0.1397 0.1397 0.1397"/>
      </geometry>
    </visual>
  </link>
  <joint name="rotor_0_front_left_joint" type="continuous">
    <parent link="base_link"/>
    <child link="rotor_0_front_left"/>
    <origin rpy="0.08726646259971647 0 0.5235987755982988" xyz="0.247 0.1506 0.028"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="rotor_1_left">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://drones/meshes/neo11_propeller_cw.dae" scale="0.1397 0.1397 0.1397"/>
      </geometry>
    </visual>
  </link>
  <joint name="rotor_1_left_joint" type="continuous">
    <parent link="base_link"/>
    <child link="rotor_1_left"/>
    <origin rpy="0 -0.08726646259971647 0" xyz="-0.00067 0.28929 0.028"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="rotor_2_back_left">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://drones/meshes/neo11_propeller_ccw.dae" scale="0.1397 0.1397 0.1397"/>
      </geometry>
    </visual>
  </link>
  <joint name="rotor_2_back_left_joint" type="continuous">
    <parent link="base_link"/>
    <child link="rotor_2_back_left"/>
    <origin rpy="0.08726646259971647 0 2.6179938779914944" xyz="-0.247 0.1454 0.028"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="rotor_3_back_right">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://drones/meshes/neo11_propeller_cw.dae" scale="0.1397 0.1397 0.1397"/>
      </geometry>
    </visual>
  </link>
  <joint name="rotor_3_back_right_joint" type="continuous">
    <parent link="base_link"/>
    <child link="rotor_3_back_right"/>
    <origin rpy="-0.08726646259971647 0 -2.6179938779914944" xyz="-0.247 -0.1454 0.028"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="rotor_4_right">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://drones/meshes/neo11_propeller_ccw.dae" scale="0.1397 0.1397 0.1397"/>
      </geometry>
    </visual>
  </link>
  <joint name="rotor_4_right_joint" type="continuous">
    <parent link="base_link"/>
    <child link="rotor_4_right"/>
    <origin rpy="0 0.08726646259971647 3.141592653589793" xyz="-0.00067 -0.28929 0.028"/>
    <axis xyz="0 0 1"/>
  </joint>
  <link name="rotor_5_front_right">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://drones/meshes/neo11_propeller_cw.dae" scale="0.1397 0.1397 0.1397"/>
      </geometry>
    </visual>
  </link>
  <joint name="rotor_5_front_right_joint" type="continuous">
    <parent link="base_link"/>
    <child link="rotor_5_front_right"/>
    <origin rpy="-0.08726646259971647 0 -0.5235987755982988" xyz="0.247 -0.1506 0.028"/>
    <axis xyz="0 0 1"/>
  </joint>
</robot>
